<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy;
        <a href="https://t.me/mdblack_1999" target="_blank"> محمد فلاحی </a>
    </small>
</footer>